.allcontainer {
  height: 80.5vh;
  background-color: var(--bg-color);
}
.password {
  border: 2px solid var(--txt-color);
  border-radius: 15px;
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.password .inpt {
  color: var(--txt-color);
  border-radius: 10px;
  border: 2px solid var(--txt-color);
  background-color: var(--bg-color);
  text-align: center;
}
.password .icon {
  color: var(--txt-color);
  font-size: 25px;
}
.password .icon1 {
  color: var(--txt-color);
  font-size: 30px;
}
.password .rangebox {
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.password .btnbtn {
  border: none;
  background-color: var(--txt-color);
  color: var(--bg-color);
  font-size: 20px;
  border-radius: 100px;
  font-weight: 400;
}
.checkboxes {
  transition: all 0.1s ease-in-out !important;
}
.checkboxes input {
  accent-color: yellow;
}
.errormsg {
  color: var(--txt-color);
  padding-bottom: 5px;
}
.password .rangebox .rangg {
  accent-color: var(--txt-color);
}
